*
{
    margin: 0;
    padding: 0;
}

.myCanvas
{
    position: fixed;
    top:0;
    left:0;
    outline: none;
}

html,
body
{
    overflow: hidden;
}

#eternalRotateButton
{
    background: linear-gradient(#ffffff,#ffffff,#f3f3f3);
    padding:8px 15px 8px 15px;
    height: auto;
    min-width: 100px;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px #cccccc;
    border-radius: 5px;
    font-size: 12px;
    color:#969696;
    font-weight: 700;
    border-bottom: 1px solid #fafafa;
    border-right: 1px solid #fafafa;

    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}